{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ random_place.name }}</title>
	<link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
   <div class="header_container">
        <div class="header">
            <div class="logo">
                <div class="logo_img">
                    <a href="{% url 'main' %}">
                        <ion-icon name="train"></ion-icon>
                    </a>
                </div>
            </div>

            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </div>
    </div>
  <!--================Header Menu Area =================-->
  <div class="title"><h1>{{ random_place.region }} 지역 추첨 결과</h1></div>
  
  <main class="site-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="single-recent-blog-post">
            <div class="thumb">
              <img class="img-fluid" src="{{ random_place.photo.url }}" alt="">
              <ul class="thumb-info">
                
                <li><a href="#"><i class="ti-user"></i>{{ random_place.name }}</a></li>
                <li><a href="#"><i class="ti-notepad"></i>{{ random_place.time }}</a></li>
                
              </ul>
            </div>
            <div class="details mt-20">
              <p class="tag-list-inline">#{{ random_place.theme }}</a></p>
              <p>{{ random_place.description | linebreaks | urlize }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--================Hero Banner end =================-->  
<div class="choo">
<h2>인근 추천 명소</h2><br>
</div>
    <!--================ Blog slider start =================-->  
    <section>
      <div class="container">
        <div class="owl-carousel owl-theme blog-slider">
          {% for trip in sample_places %}
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{{ trip.photo.url }}" alt="">
            </div>
            <div class="blog__slide__name">
              <p><br>{{ trip.name }}</p>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </section>

  </main>

  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'js/mail-script.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    
</body>
</html>